@page
@model TestWebApp.Pages.Create
@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>

<form method="post">

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
